<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/wangwanru/JavaProject/javaLearn20190605/src/main/java/com/test/testnguse/testone.java">
        <classes>
            <class name="com.test.testnguse.Testone"><methods><include name="function1"/></methods></class>
        </classes>
    </test>
</suite>